{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "targets": "last 1 chrome versions",
        "exclude": []
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes"
  ]
}